SUBSYSTEM=="net", ACTION=="add", DEVPATH=="/devices/platform/soc/*spi/spi_master/spi0/spi0.0/net/can*", NAME="can1", RUN+="/sbin/ip link set can1 type can bitrate 500000", RUN+="/sbin/ip link set can1 txqueuelen 1000", RUN+="/sbin/ip link set can1 up"